.gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.gallery__link {
    display: block;
    overflow: hidden;
    width: 90%;
    margin: 20px 0;
    box-shadow: 0 0 3px 3px grey;

    @media (min-width: 533px) {
        width: 40%;
    }

    @media (min-width: 1024px) {
        width: 30%;
    }
}

.gallery__image {
    width: 100%;
    transform: scale(1.1);
    transition: 1.5s linear;

    &:hover {
        transform: scale(1.2);
    }
}